---
/**
 * @file
 * Minimal Layout file that provides a grid layout
 * for the menu and content.
 * 
 * The assumption is that this layout would be wrapped
 * by a page layout that provides scripts, styles, etc
 * in order to allow components in Launchpad access to all
 * the necessary resources.
 */
---
<div data-launchpad-layout>
	<slot />
</div>

<style>
	[data-launchpad-layout] {
		display: grid;
		grid-auto-rows: auto;
		grid-auto-flow: row;
		row-gap: 0;
		grid-template-columns: repeat(8, 1fr);
		width: 100%;
	}
	@media (min-width: 768px) {
		[data-launchpad-layout] {
			grid-template-columns: repeat(16, 1fr);
		}
	}
	@media (min-width: 1024px) {
		[data-launchpad-layout] {
			grid-template-columns: repeat(24, 1fr);
		}
	}
</style>
